/*************** ▽▽▽ ロードアニメーション ▽▽▽ *****************/
.loade_view{
    width: 100VW;
    height: 100VH;
    background-color: #1eaaa2;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;

    display: none;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 3em;
  height: 4em;
}
.loader {
  color: #FFF;
  text-indent: -9999em;
  margin: 40VH auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -8em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 8em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 8em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 4em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 16em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 24em;
  }
}


/***************  △△△ ロードアニメーション △△△ *****************/


.graph {
    width: 100%;
}

.nav {
    width: 100%;
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    box-sizing: border-box;
    border: 2px solid #1eaaa2;
    border-radius: 20px;
}

.nav_head {
  width: 100%;
  position: relative;   
}

.nav h4 {
    width: 100%;
    margin-bottom: 0;
    line-height: 50px;
}

.nav_head .opne {
  position: absolute;
  max-width: 30px;
  max-height: 30px;
  background-color: #FFF;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
  right: 10%;
}

.nav_head .opne span {
  display: block;
  background-color: #1eaaa2;
  position: absolute;
}
.nav_head .opne span:first-child {
  width: 100%;
  height: 5px;

  top: 12.5px;
}

.nav_head .opne span:last-child {
  height: 30px;
  width: 5px;
  left: 12.5px;
}

.nav_head .close span:last-child {
  height: 30px;
  width: 5px;
  left: 12.5px;
}

.nav .period_btn {
    min-width: 200px;
    line-height: 44px;
    border: 2px solid #1eaaa2;
    border-radius: 25px;
    background-color: #FFF;
    transition: 0.3s;
    color: #666;
}

.nav .period_btn:hover {
    opacity: 0.8;
    background-color: #1eaaa2;
    color: #FFF
}

.period_btn.active, .period_btn.active:hover {
    background-color: #ccc;
    border: 2px solid #999;
    pointer-events: none;
}

@media(max-width: 768px){
    .nav {
        display: block;
        text-align: center;
    }

    .nav h4 {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    .nav button {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    .nav .period_btn, .nav .period_btn:hover {
        border: 2px solid #1eaaa2;
        background-color: #FFF;
        color: #666;
    }

    .period_btn.active {
        background-color: #ccc;
        border: 2px solid #999;
        pointer-events: none;
    }

    .nav h4:after, .nav h4:before {
        left: auto;
        right: 0;
        background-color: #1eaaa2;
    }

    .nav h4:before{
        right: 5.5px;
    }
    
}